{% extends 'base.html' %}
{% load static %}

{% block content %}
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <ul class="list-unstyled text-danger text-left mt-0 pt-0" style="margin-top: -15px !important;">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <ul class="list-unstyled text-danger">
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">가입</button>
                </form>{% endblock %}